*{
    text-decoration: none;
}
#navBar{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    display: flex;
    justify-content: right;
    width: 100%;
}
#navBar>div{
    display: flex;
    justify-content: space-around;
    width: 33%;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#slideshow{
    display: flex;
    justify-content: center;
    margin: 50px;
    height: 250px;
    width: 700px;
}
.imagediv{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
.imagediv img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#movies{
    border: 2px solid red;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 20px;
}
.moviediv{
    width: 99%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}
.movieimagediv{
    height: 70%;
    width: 100%;
    border: 2px solid red;
    box-sizing: border-box;
}
.movieimagediv img{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
}
.releaseDteAndRatingdiv{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.releaseDteAndRatingdiv p{
    padding: 30px;
    color: red;
}